==
<ul class="nav navbar-nav navbar-right">
    {% partial __SELF__ ~ "::items" items=menuItems %}
    
    {% if user %}
         <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href>{{ user.name }} <span class="caret"></span></a>
             <ul class="dropdown-menu">
                <li><a href="{{ 'account'|page }}">Профиль</a></li>
                <li class="divider"></li>
                <li><a data-request="onLogout" data-request-data="redirect: '/'">Выйти</a></li>
                 
             </ul>
         </li>
    {% else %}
         <li><a href="{{ 'account'|page }}">Войти</a></li>
    {% endif %}
</ul>