==
<?php
function onStart() {
 
    $embedInfo = DB::table('rainlab_forum_topics')
                ->select(array('embed_code','count_views','count_posts'))
                ->whereNotNull('embed_code')
                ->get();
    
    foreach ($embedInfo as $val)
    {
        $key = $val->embed_code;
        $infoViews[$key] = $val->count_views;
        $infoPosts[$key] = $val->count_posts;
    }
    
    $this['infoViews'] = $infoViews;
    $this['infoPosts'] = $infoPosts;
}
?>
==
{% for post in posts %}
    <div class="blog">
       {# <img src="{{ 'assets/images/team/aleksey.png'|theme }}" alt=""> #}
        <div class="blog-desc">
            <h2>
                <a href="{{ post.url }}">{{ post.title }}</a>
            </h2>
            <p>{% for category in post.categories %}
                <a href="{{ category.url }}">{{ category.name }}</a> {% if loop.last %} :: {% endif %} {% if not loop.last %}, {% endif %}
                {% endfor %}
                <span class="text-muted">{{ post.published_at.diffForHumans }}</span> :: 
                <span class="text-muted">{{ infoViews[post.slug] }} <i class="fa fa-eye icon-eye-open"></i></span> :: 
                <span class="text-muted">{{ infoPosts[post.slug] }} <i class="fa fa-comments-o icon-comments-o"></i></span> 
                

            </p>
             {% if post.featured_images.0.path %}
            <a href="{{ post.url }}">
                <img class="img-responsive" src="{{ post.featured_images.0.path }}" alt="">
            </a>
            {%endif%}
            
            {% if post.excerpt %}
                <p class="excerpt">{{ post.excerpt }}</p>
            {% else %}
                <p class="content">{{ post.content_html|raw }}</p>
            {% endif %}
        </div>
    </div>
{% else %}
    {{ noPostsMessage }}
{% endfor %}

{% if posts.getLastPage > 1 %}
    <div class="pagination pull-right">
        <ul>
            {% if posts.getCurrentPage > 1 %}
            <li class="previous"><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.getCurrentPage-1) }) }}" class="fui-arrow-left"></a></li>
            {% endif %}

            {% for page in 1..posts.getLastPage %}
                <li class="{{ posts.getCurrentPage == page ? 'active' : null }}">
                    <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
                </li>
            {% endfor %}

            {% if posts.getLastPage > posts.getCurrentPage %}
                <li class="next"><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.getCurrentPage+1) }) }}" class="fui-arrow-right"></a></li>
            {% endif %}
        </ul>
    </div>    
{% endif %}
<div class="clearfix"></div><br>