==
<?php
function onStart() {
 
    $this['forumLastTopics'] = DB::table('rainlab_forum_topics')
                ->orderBy('created_at', 'DESC')
                ->whereNull('embed_code')
                ->limit('10')
                ->get();
                
}
?>
==
<div class="recent-tweets">
    <h4 class="headline"><span>Форум :: последние топики </span></h4>
    {% for topic in forumLastTopics %}

         <div class="tweet">
                <a href="/forum/topic/{{ topic.slug }}">{{ topic.subject }}</a>  
                <small class="info"><br>
                {# <span class="text-muted">{{ topic.created_at.diffForHumans }}</span> :: #}
                <span class="text-muted"><i class="fa fa-eye icon-eye-open"></i> {{ topic.count_views }}</span> ::
                <span class="text-muted"><i class="fa fa-comments-o icon-comments-o"></i> {{ (topic.count_posts-1) }}</span>
                </small>
        </div>
    {% endfor %}
</div>