.blog {
  margin-top: 30px;
}
.blog hr {
  border-color: #e9e9e9;
}
.blog > img {
  height: 70px;
  width: 70px;
  float: left;
  margin-right: 20px;
  margin-top: 5px;
  border-radius: 70px;
}
@media (max-width: 767px) {
  .blog > img {
    display: none;
  }
}
.blog-desc {
  overflow: hidden;
}
.blog-desc h5 {
  font-weight: 500;
  line-height: 1.5;
  margin-top: 0;
}
.blog-desc p {
  line-height: 1.7;
}
.blog-desc img {
  border-radius: 3px;
  margin: 20px 0;
}
